# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
myenv/
venv/
ENV/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/
